p{
    margin:0;
    font-family: Arial;
    text-align: center;
}
.grmek{
    font-size: 32px;
}
.bold{
    font-weight: bold;
}

.cijena{
    color: green;
    margin-bottom:15px;
}

.novo{
    color:orange;
}

.buy{
    display: block;
    margin: auto;
    color:white;
    background-color: blueviolet;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    border-radius: 50px;
    transition: padding 1s;
}

.buy:active{
    opacity: 0.75;
}
